    /* from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_dropdown_right */

    .dropbtn {
      background-color: var(--dark);
      color: white;
      margin-right: 7px;
      font-size: 16px;
      font-family: monospace;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      /* align-self: center; */
    }

    #reset_button {
      color: var(--medium);
    }

    #reset_button:hover {
      color: white;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      flex-direction: column;
      align-items: stretch;
      position: absolute;
      right: 7px;
      background-color: var(--light);
      min-width: 190px;
      padding: 10px 15px 10px 10px;
      border-radius: 8px 0 8px 8px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 10;
    }

    .dropdown-content * {
      display: block;
      font-family: monospace;
      font-size: 14px;
      color: #444;
      line-height: 1.3;
      padding: .6em 1.4em .5em .8em;
      margin: 3px;
      width: 100%;
      max-width: 100%;
      box-sizing: border-box;
      border-radius: 3px;
      text-align: left;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-color: #fff;
      border: 0;
    }

    #version-no {
      background-color: inherit;
      font-size: small;
      color: var(--medium);
      height: 1em;
      text-align: right;
      padding: 0%;
    }

    /* for further info, see the dropdown function notes */
    /* .dropdown:hover .dropdown-content {
      display: flex;
    } */

    .dropdown:hover .dropbtn {
      border-radius: 5px 5px 0 0;
      background-color: var(--light);
      color: var(--dark);
    }

    .dropdown div select:hover,
    .dropdown div button:hover {
      background-color: var(--medium);
    }


    /* ## Backup dialogue -------------------------------- */

    dialog {
      display: none;
      flex-direction: column;
      width: 60%;
      height: 50%;
      position: fixed;
      left: 10%;
      top: 10%;
      background-color: white;
      border: solid 15px var(--light);
      border-radius: 10px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      font-size: smaller;
      overflow: hidden;
      z-index: 10;
    }

    dialog div:nth-child(2) {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      overflow: inherit;
      padding: 3px;
      /* background-color: red; */
    }

    #backup-msg {
      /* font-size: smaller; */
      height: fit-content;
      flex-grow: 1;
      /*overflow-y: visible;*/
    }

    #backup_0,
    #backup_1 {
      background-color: white;
      border: none;
      width: 40%;
      font-size: x-small;
      overflow-y: auto;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }

    #backup_0:enabled:hover,
    #backup_1:enabled:hover {
      /* font-weight: bold; */
      background-color: var(--light);
    }

    dialog div * {
      flex-grow: 1;
    }
