    body {
      background-color: var(--dark);
      height: 100vh;
      width: 100vw;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: stretch;
      align-content: stretch;
      overflow: hidden;
    }

    /* ## resizeable blocks */

    #container {
      flex-grow: 1;
      display: flex;
      align-items: stretch;
      flex-direction: column;
      overflow: inherit;
    }

    #separator {
      background-color: var(--medium);
      height: var(--sep-width);
      width: 50%;
      border-radius: 5px;
      cursor: row-resize;
      align-self: center;
    }

    /* #left-top,
    #right-bot {
      flex-grow: 1;
      min-width: 5%;
      width: 100%;
      display: flex;
      overflow: inherit;
    } */

    #left-top,
    #right-bot {
      flex-grow: 1;
      min-width: 5%;
      display: flex;
      overflow: inherit;
    }

    #right-bot {
      display: flex;
      flex-direction: column;
      /* width: 33%; */
      width: 50%;
    }

    #left-top {
      /* width: 67%; */
      width: 50%;
    }

    /* ## TABS ############################################ */

    /* tab-group, #tab-group { */
    tab-group {
      /* height: 100vh;
      width: 100vw; */
      font-family: "Lucida Console", "Courier New", monospace;
      /* background-color: var(--dark); */
      max-height: 100vh;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      overflow: inherit;
    }

    /* tab-head, #tab-head { */
    tab-head {
      flex-grow: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      white-space: nowrap;
    }

    /* tab-tag, .tab { */
    tab-tag {
      border: 1px solid lightgray;
      border-radius: 5px 5px 0 0;
      border-bottom: 0;
      padding: 8px 6px 6px 6px;
      white-space: nowrap;
      text-wrap: nowrap;
    }

    /* tab-tag:last-of-type[class="tab-on"]::after { */
    tab-tag.to-refresh::after {
      content: " ↻";
      font-weight: normal;
      color: var(--medium);
      font-size: x-large;
      line-height: 60%;
    }

    /* tab-tools, .tab-tools { */
    tab-tools {
      margin-left: auto;
      display: flex;
      align-items: center;
    }

    tab-spacer {
      width: 5vw;
    }

    .tab-on {
      color: black;
      background: white;
      font-weight: bold;
      border-bottom: 1px solid white;
      margin-bottom: -1px;
      z-index: 1;
      white-space: nowrap;
      text-wrap: nowrap;
    }

    .tab-off {
      background: var(--light);
      font-weight: normal;
    }

    .to-refresh {
      font-weight: normal;
      font-style: italic;
    }

    /* tab-body, #tab-body { */
    tab-body {
      flex: 1;
      border: 1px solid lightgray;
      border-radius: 0 10px 0 0;
      background: white;
      display: flex;
      overflow: inherit;
    }

    /* tab-content, .tab-content { */
    tab-content {
      height: inherit;
      width: inherit;
      background: white;
      flex-direction: column;
      /* flex: 1; */
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      margin: 5px;
      overflow: inherit;
      justify-content: flex-start;
    }

    .t1_form_in,
    .t1_form_out {
      width: inherit;
      flex-direction: column;
      margin: 6px;
      overflow: inherit;
      display: inherit;
    }

    .t1_form_in {
      /* height: 250px; */
      height: auto;
      flex-shrink: 0;
    }

    .t1_form_out {
      height: 90%;
      flex-grow: 1;
    }

    /* #t2_repeats_list, */
    #t1_results_text,
    #t2_final_text,
    /* #t2_final_info, */
    #t2_raw_text {
      flex-grow: 1;
    }

    #t2_repeats_list,
    #t1_results_text,
    #t2_final_text,
    #t2_raw_text,
    #t2_help,
    #t2_final_info {
      font-size: var(--font-size);
    }

    /* #help-all {
      list-style: square;
    } */



    #t1_results_text,
    #t1_results_text table,
    #t2_final_text,
    #t2_repeats_list,
    #t2_raw_text {
      overflow-y: scroll;
      overflow-x: hidden;
    }

    #t1_term_i {
      padding: 6px;
      box-shadow: inset 2px 2px 5px var(--medium);
      border: 0.5px solid var(--light);

    }

    #t1_term_i,
    #t2_raw_text {
      display: block;
      transform: none;
      border-width: 0;
      border-radius: 5px;
      padding: 6px;
      flex-grow: 1;
    }

    #t2_raw_text {
      margin: 10px;
      white-space: pre-wrap;
      line-height: 1.5;
    }

    [placeholder]:empty::before {
      content: attr(placeholder);
      color: var(--dark);
    }

    [placeholder]:empty:focus::before {
      content: "";
    }

    #t2_raw_text:focus {
      outline: none;
    }

    /* #t2_final_text, */
    #t2_repeats_list {
      /* margin-top: 1em; */
      padding: 1em;
      white-space: pre-wrap;
    }

    #t2_final_legend {
      margin: 10px 0 6px 10px;
    }

    #t2_repeats_list, #t2_final_text {
      flex-grow: 1;
    }

    /* #level-stats-cols {
      column-count: 2;
    } */

    #t2_final_info {
      width: 90%;
      display: flex;
      flex-direction: column;
      padding-left: 5px;
      z-index: 2;
    }

    #t1_results {
      flex: 100%;
      background: white;
      padding-right: 2px;
      height: 100%;
    }

    #t1_results_text {
      height: inherit;
    }

    #t1_results_legend {
      color: var(--dark);
    }


    /* ## wide-screen version ############################################## */

    @media (min-width: 600px) {
      /* #container { */
      .tab-content {
        flex-direction: row;
      }

      #separator {
        width: var(--sep-width);
        height: 50%;
        cursor: col-resize;
      }

      /* .tab-content { */
      tab-content {
        flex-direction: row;
      }

      #t2_final_legend {
        margin: 10px 0 6px 0;
      }

      .t1_form_in,
      .t1_form_out {
        height: auto;
        width: 50%;
      }
    }



    /* ## Tabs1&2 SHARED ############################################## */

    a {
      text-decoration: none;
    }

    .level-o,
    .level-u {
      color: var(--offlist);
      font-style: italic;
      font-weight: bold;
    }

    .level-h, .level-r2{
      color: var(--high);
    }

    .level-i, .level-r1 {
      color: var(--int);
    }

    .level-e {
      color: var(--elem);
    }

    /* .level-k {
      color: var(--int);
    } */

    /* .level-e, .level-i, .level-h, .level-k { */
    .level-e, .level-i, .level-h {
      font-weight: normal;
    }

    /* contractions / names / numbers (digits) / symbols */
    .level-c,
    .level-n,
    .level-d,
    .level-s {
      color: var(--lowlight);
    }

    /* awl list in general (in levelStats) */
    .level-a {
      color: var(--lowlight);
    }

    .level-k,
    .level-k1, .level-k2, .level-k3, .level-k4, .level-k5, .level-k6, .level-k7, .level-k8, .level-k9, .level-k10,
    .level-k11, .level-k12, .level-k13, .level-k14, .level-k15, .level-k16, .level-k17, .level-k18, .level-k19, .level-k20,
    .level-k21, .level-k22, .level-k23, .level-k24, .level-k25, .level-k26, .level-k27, .level-k28, .level-k29, .level-k30,
    .level-k31, .level-k32, .level-k33, .level-k34, .level-k35 {
      color: var(--int);
      font-weight: normal;
     }

    .level-awl1, .level-awl2, .level-awl3, .level-awl4, .level-awl5, .level-awl6, .level-awl7, .level-awl8, .level-awl9, .level-awl10 {}

    .level-gz1 { color: var(--gz1);}
    .level-gz2 { color: var(--gz2); font-weight: bold;}
    .level-gz3 { color: var(--gz3); font-weight: bold;}
    .level-gz4 { color: var(--gz4); font-weight: bold;}
    .level-gz5 { color: var(--gz5); font-weight: bold;}
    .level-gz6 { color: var(--gz6); font-weight: bold;}
    .level-gz7 { color: var(--gz7); font-weight: bold;}

    td.level-o,
    td.level-h,
    td.level-i {
      font-weight: normal;
    }

    .unprocessed {
      color: black;
    }

    .word-detail {
      background-color: var(--medium);
      font-weight: normal;
      border-radius: 5px;
      box-shadow: 5px 5px 5px grey;
      padding: 3px;
      min-height: 30px;
      max-height: 90px;
      width: 100%;
      flex-shrink: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      z-index: 2;
      margin-bottom: 5px;
    }

    .dot {
      height: 1.5em;
      width: 1.5em;
      background-color: white;
      border-radius: 50%;
      display: inline-block;
      line-height: 1.5;
      vertical-align: middle;
      text-align: center;
      font-size: normal;
      font-style: normal;
      font-family: sans-serif;
      color: black;
    }

    .awl-level {
      font-family: sans-serif;
      font-weight: bold;
      font-size: smaller;
    }

    .lemma {
      font-weight: bold;
      font-style: normal;
    }

    #t2_final_info > div {
      color: white;
    }

    .word-detail:last-child {
      margin-bottom: 0px;
    }

    #t2_final_info > div.level-o {
      background-color: var(--offlist);
    }

    #t2_final_info > div.level-h {
      background-color: var(--high);
    }

    #t2_final_info > div.level-i {
      background-color: var(--int);
    }

    #t2_final_info > div.level-e,
    #t2_final_info > div.level-k {
      background-color: var(--elem);
    }

    #t2_final_info > div.level-c,
    #t2_final_info > div.level-d {
      background-color: var(--lowlight);
    }

    #t2_final_info > div.level-gz1 {
      background-color: var(--gz1);
    }

    #t2_final_info > div.level-gz2 {
      background-color: var(--gz2);
    }

    #t2_final_info > div.level-gz3 {
      background-color: var(--gz3);
    }

    #t2_final_info > div.level-gz4 {
      background-color: var(--gz4);
    }

    #t2_final_info > div.level-gz5 {
      background-color: var(--gz5);
    }

    #t2_final_info > div.level-gz6 {
      background-color: var(--gz6);
    }


    /* .multi-diff {
      text-decoration: darkgray underline double;
      -webkit-text-decoration: darkgray underline double;
    } */

    .multi-diff::before {
      font-size: 75%;
      vertical-align: sub;
      content: "??";
      color: black;
    }

    .variant {
      text-decoration: lightpink underline wavy;
      -webkit-text-decoration: lightpink underline wavy;
    }

    .underline {
      text-decoration: underline;
    }

    /* .multi-same {
      text-decoration: underline dotted;
    } */

    .show-pos {
      color: dimgray;
    }

    .show-level {
      background-color: whitesmoke;
    }

    /* numbers */
    /* .level-d {
      color: rgb(123, 0, 255);
    } */

    sup {
      font-size: xx-small;
    }

    .highlight {
      /* border: dashed black; */
      background-color: var(--light);
      box-shadow: 3px 3px 3px var(--medium);
    }

    .jumpHighlight {
      border: dashed red;
      background-color: black;
      color: white;
    }

    input:focus,
    #t1_theme_select:focus {
      outline: 1 solid var(--dark);
    }

    /* ## Tab1 (words) lookup ############################################## */

    fieldset {
      border-radius: 10px;
      background: var(--light);
      border: none;
      /* margin-top: 10px; */
      overflow: inherit;
      padding: 10px;
      margin: 3px;
    }

    div[id$="inputs"] {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    fieldset label,
    .deselected,
    #t1_theme_select {
      color: var(--dark);
      text-shadow: 0 2px 2px white, 0 -2px 1px var(--medium);
    }

    /* fieldset > div > label:has(input[checked]), */
    #t1_theme_select[data-chosen="-1"],
    .selected_txt {
      font-weight: bold;
      color: black;
      text-shadow: 0 2px 2px var(--medium), 0 -2px 1px white;
    }

    .selected_txt:not(.default),
    #t1_theme_select {
      color: IndianRed;
      font-weight: bold;
    }

    option {
      font-family: inherit;
    }

    input {
      display: none;
    }

    input[type='text'] {
      height: 25px;
      font-size: large;
      color: var(--dark);
      font-weight: bold;
    }

    #t1_theme_select {
      width: 100%;
      border-radius: 4px;
      border-width: 0px;
      font-family: inherit;
      font-size: medium;
      background-color: var(--light);
    }

    .opt {
      display: none;
    }

    .dbColor {
      color: var(--dark);
      font-weight: bold;
    }

    table {
      table-layout: fixed;
      border-collapse: collapse;
    }

    #t1_results_text table tr td:nth-child(1) {
      width: 10%;
    }

    td {
      vertical-align: top;
    }

    td:first-child {
      color: var(--medium);
    }

    #reset_btn,
    .warning,
    .error {
      color: red;
    }

    .wrong {
      /* text-decoration: line-through; */
      text-decoration-line: line-through;
      opacity: 0.5;
    }

    .awl-sublist {
      font-size: xx-small;
    }

    /* .awl-note {
      color:gray;
    }

    .awl-headword {
      color: var(--dark);
    } */

    /* ## Tab2 (text) lookup ############################################## */

    .text-right {
      text-align: end;
      font-weight: bold;
    }

    h1 {
      font-weight: bold;
      font-size: medium;
    }

    #repeats,
    .repeats,
    .level-stats-cols {
      columns: 180px;
    }

    #repeats p,
    .repeats p,
    .level-stats-cols p {
      line-height: normal;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 1em;
    }

    /* where is the extra 1em padding coming from with #repeats p ??*/
    .level-stats-cols p {
      padding-left: 1.5em;
    }

    #level-details, #repeat-details {
      padding-top: 1em;
    }

    .anchors {
      font-size: smaller;
    }

    .medium {
      color: var(--medium);
    }

    .dark {
      color: var(--dark);
    }

    .black {
      color: black !important;
      font-weight: bold;
    }

    .awl-word {
      text-decoration-line: underline;
      text-decoration-style: dotted;
    }

    .instructions {
      color: var(--dark);
      font-size: 95%;
    }

    .summary-instructions {
      padding-bottom: 0.3em;
      text-indent: 15px;
      font-style: italic;
      color: grey;
    }

    .all-repeats {
      font-weight: bold;
    }

    .debug {
      font-size: small;
      color: cornflowerblue;
    }


    .in-list-header {
      font-weight: bold;
      font-style: italic;
    }

    summary {
      list-style-type: "+ ";
    }

    details[open]>summary {
      list-style-type: "- ";
    }

    .backup-show {
      opacity: 0.5;
    }

    .backup-show:hover {
      opacity: 1;
    }

    /* from upgrade.css ############################## */

    span[data-reps]::after {
      content: attr(data-reps);
      vertical-align: super;
      font-size: smaller;
    }

    #left-top {
      flex-direction: column;
    }

    #cursorPosHere {
      background-color: yellow;
    }


    #t2_raw_text br, #t2_final_text br {
      display: block;
      content: " ";
      margin-bottom: 1.5em;
    }

    hr {
      visibility: hidden;
      margin-bottom: 0.5em;
    }

    /* #t2_raw_text p, #t2_final_text p { */
    #t2_raw_text, #t2_final_text {
      margin-top: 1.5em;
      margin-bottom: 0;
      margin-right: 0.5em;
      margin-left: 0.5em;
    }

    /* ## PAGE COMMON ELEMENTS #################################### */

    #dbSelect {
      display: flex;
      align-items: center;
    }

    .noBold {
      font-weight: normal;
    }

    /* .show {
      display: block;
      list-style: disc;
    }

    .hide {
      display: none;
    } */

    /* .spacer {
      width: 5vw;
    } */

    #selectGEPT {
      color: #3f7fbf;
    }

    #selectKids {
      color: #c1502e;
    }

    #backup-dlg {
      /* display: flex; */
      display: none;
      flex-direction: column;
    }

    #backup-dlg > div {
      /* background-color: #409bcf; */
      flex-grow: 0;
      /* display: flex;
      flex-direction: row; */
    }

    #backup-dlg > div:nth-child(2) {
      /* background-color: #fffd8e; */
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      align-items: stretch;
    }

    #backup-dlg > div > button {
      /* background-color: #ff6f3f;
      border: #555 solid 1px; */
      white-space: normal;
      margin: 3px;
      /* flex-grow: 1; */
    }


    /* ## FOR PLACEHOLDER TEXT #################################### */

    /* [contenteditable="true"]:empty:before {
      content: attr(placeholder);
      pointer-events: none;
      display: block;
      color: gray;
    } */

    /* ## FOR TOOLTIP ############################################# */
    .tooltip {
      position: relative;
      display: inline-block;
      word-break: normal;
    }

    .tooltip .tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      bottom: 175%;
      left: 50%;
      margin-left: -60px;
      opacity: 0;
      transition: opacity 0.3s;
    }

    .tooltip:hover {
      /*font-weight: bold;*/
      color: var(--light);
      background-color: var(--dark);
    }
