    body {
      background-color: var(--dark);
      height: 100vh;
      width: 100vw;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: stretch;
      align-content: stretch;
      overflow: hidden;
    }

    /* ## resizeable blocks */

    #container {
      flex-grow: 1;
      display: flex;
      align-items: stretch;
      flex-direction: column;
      overflow: inherit;
    }

    #separator {
      background-color: var(--medium);
      height: var(--sep-width);
      width: 50%;
      border-radius: 5px;
      cursor: row-resize;
      align-self: center;
    }

    /* #left-top,
    #right-bot {
      flex-grow: 1;
      min-width: 5%;
      width: 100%;
      display: flex;
      overflow: inherit;
    } */

    #left-top,
    #right-bot {
      flex-grow: 1;
      min-width: 5%;
      display: flex;
      overflow: inherit;
    }

    #right-bot {
      display: flex;
      flex-direction: column;
      width: 33%;
    }

    #left-top {
      width: 67%;
    }

    /* ## TABS ############################################ */

    .tab {
      border: 1px solid lightgray;
      border-radius: 5px 5px 0 0;
      border-bottom: 0;
      padding: 8px 6px 6px 6px;
    }

    .tab-tools {
      margin-left: auto;
      display: flex;
      align-items: center;
    }

    .tab-on {
      color: black;
      background: white;
      font-weight: bold;
      border-bottom: 1px solid white;
      margin-bottom: -1px;
      z-index: 1;
    }

    .tab-off {
      background: var(--light);
      font-weight: normal;
    }


    #tab-group {
      /* height: 100vh;
      width: 100vw; */
      font-family: "Lucida Console", "Courier New", monospace;
      /* background-color: var(--dark); */
      max-height: 100vh;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      overflow: inherit;
    }

    #tab-head {
      flex-grow: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }

    #tab-body {
      flex: 1;
      border: 1px solid lightgray;
      border-radius: 0 10px 0 0;
      background: white;
      display: flex;
      overflow: inherit;
    }

    .tab-content {
      height: inherit;
      width: inherit;
      background: white;
      flex-direction: column;
      /* flex: 1; */
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      margin: 5px;
      overflow: inherit;
      justify-content: flex-start;
    }

    .t1_form_in,
    .t1_form_out {
      width: inherit;
      flex-direction: column;
      margin: 6px;
      overflow: inherit;
      display: inherit;
    }

    .t1_form_in {
      /* height: 250px; */
      height: auto;
      flex-shrink: 0;
    }

    .t1_form_out {
      height: 90%;
      flex-grow: 1;
    }

    /* #t2_repeats_list, */
    #t1_results_text,
    /* #t2_final_text, */
    #t2_raw_text,
    #t2_final_info {
      /* font-size: var(--font-size); */
      flex-grow: 1;
    }

    #t2_repeats_list,
    #t1_results_text,
    /* #t2_final_text, */
    #t2_raw_text,
    #t2_final_info {
      font-size: var(--font-size);
      /* flex-grow: 1; */
    }



    #t1_results_text,
    #t1_results_text table,
    /* #t2_final_text, */
    #t2_raw_text {
      overflow-y: scroll;
      overflow-x: hidden;
    }

    #t1_term_i {
      padding: 6px;
      box-shadow: inset 2px 2px 5px var(--medium);
      border: 0.5px solid var(--light);

    }

    #t1_term_i,
    #t2_raw_text {
      display: block;
      transform: none;
      border-width: 0;
      border-radius: 5px;
      padding: 6px;
      flex-grow: 1;
    }

    #t2_raw_text {
      margin: 10px;
      white-space: pre-wrap;
    }

    [placeholder]:empty::before {
      content: attr(placeholder);
      /* color: #555;  */
      color: var(--dark);
    }

    [placeholder]:empty:focus::before {
      content: "";
    }

    #t2_raw_text:focus {
      outline: none;
    }

    /* #t2_final_text, */
    #t2_repeats_list {
      margin-top: 1em;
      padding: 1em;
      white-space: pre-wrap;
    }

    #t2_final_legend {
      margin: 10px 0 6px 10px;
    }

    #t2_final_info {
      background-color: var(--light);
      border-radius: 5px;
      box-shadow: 5px 5px 5px grey;
      padding: 6px;
      min-height: 40px;
      /* max-height: 40px; */
      max-height: 90px;
      width: 90%;
      flex-shrink: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      z-index: 2;
    }

    #t1_results {
      flex: 100%;
      background: white;
      padding-right: 2px;
      height: 100%;
    }

    #t1_results_text {
      height: inherit;
    }

    #t1_results_legend {
      color: var(--dark);
    }


    /* ## wide-screen version ############################################## */

    @media (min-width: 600px) {
      #container {
        flex-direction: row;
      }

      #separator {
        width: var(--sep-width);
        height: 50%;
        cursor: col-resize;
      }

      .tab-content {
        flex-direction: row;
      }

      #t2_final_legend {
        margin: 10px 0 6px 0;
      }

      .t1_form_in,
      .t1_form_out {
        /* height: inherit; */
        height: auto;
        width: 50%;
      }
    }



    /* ## Tabs1&2 SHARED ############################################## */

    a {
      text-decoration: none;
    }

    .level-o {
      color: var(--offlist);
      font-style: italic;
      font-weight: bold;
    }

    .level-h {
      color: var(--high);
      font-weight: bold;
    }

    .level-i {
      color: var(--int);
      font-weight: bold;
    }

    td.level-o,
    td.level-h,
    td.level-i {
      font-weight: normal;
    }

    .level-e,
    .level-k {
      color: var(--elem);
    }

    /* contractions / numbers (digits) */
    .level-c,
    .level-d {
      color: salmon;
    }

    .show-pos {
      color: dimgray;
    }

    .show-level {
      background-color: whitesmoke;
    }

    /* numbers */
    /* .level-d {
      color: rgb(123, 0, 255);
    } */

    /* span[class~="duplicate"]::after {
      content: "²"
    } */
    sup {
      font-size: xx-small;
    }

    .highlight {
      /* border: dashed black; */
      background-color: var(--light);
      box-shadow: 3px 3px 3px var(--medium);
    }

    .jumpHighlight {
      border: dashed red;
      background-color: black;
      color: white;
    }

    input:focus,
    #t1_theme_select:focus {
      outline: 1 solid var(--dark);
    }

    /* ## Tab1 (words) lookup ############################################## */

    fieldset {
      border-radius: 10px;
      background: var(--light);
      border: none;
      /* margin-top: 10px; */
      overflow: inherit;
      padding: 10px;
      margin: 3px;
    }

    div[id$="inputs"] {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    fieldset label,
    .deselected,
    #t1_theme_select {
      color: var(--dark);
      text-shadow: 0 2px 2px white, 0 -2px 1px var(--medium);
    }

    .selected_txt,
    #t1_theme_select[data-chosen="-1"] {
      font-weight: bold;
      color: black;
      text-shadow: 0 2px 2px var(--medium), 0 -2px 1px white;
    }

    .selected_txt:not(.default),
    #t1_theme_select {
      color: IndianRed;
      font-weight: bold;
    }

    option {
      font-family: inherit;
    }

    input {
      display: none;
    }

    input[type='text'] {
      height: 25px;
      font-size: large;
      color: var(--dark);
      font-weight: bold;
    }

    #t1_theme_select {
      width: 100%;
      border-radius: 4px;
      border-width: 0px;
      font-family: inherit;
      font-size: medium;
      background-color: var(--light);
    }

    .opt {
      display: none;
    }

    .dbColor {
      color: var(--dark);
      font-weight: bold;
    }

    table {
      table-layout: fixed;
      border-collapse: collapse;
    }

    #t1_results_text table tr td:nth-child(1) {
      width: 10%;
    }

    td {
      vertical-align: top;
    }

    td:first-child {
      color: var(--medium);
    }

    .error {
      color: red;
    }

    .wrong {
      text-decoration: line-through;
    }

    .awl-sublist {
      font-size: xx-small;
    }

    .awl-note {
      color:gray;
    }

    .awl-headword {
      color: var(--dark);
    }

    /* ## Tab2 (text) lookup ############################################## */

    .text-right {
      text-align: end;
      font-weight: bold;
    }

    h1 {
      font-weight: bold;
      font-size: medium;
    }

    #repeats {
      /* columns: 2 auto; */
      columns: 180px;
    }

    #repeats p {
      line-height: normal;
      margin-top: 0;
      margin-bottom: 0;
    }

    .anchors {
      font-size: smaller;
    }

    .medium {
      color: var(--medium);
    }

    .dark {
      color: var(--dark);
    }

    .black {
      color: black !important;
      font-weight: bold;
    }

    .awl-word {
      border-bottom: 1px dotted;
    }



    /* ## PAGE COMMON ELEMENTS #################################### */

    #dbSelect {
      display: flex;
      align-items: center;
    }

    .spacer {
      width: 5vw;
    }

    #selectGEPT {
      color: #3f7fbf;
    }

    #selectKids {
      color: #c1502e;
    }

    /* ## FOR PLACEHOLDER TEXT #################################### */

    /* [contenteditable="true"]:empty:before {
      content: attr(placeholder);
      pointer-events: none;
      display: block;
      color: gray;
    } */

    /* ## FOR TOOLTIP ############################################# */
    .tooltip {
      position: relative;
      display: inline-block;
      word-break: normal;
    }

    .tooltip .tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      bottom: 175%;
      left: 50%;
      margin-left: -60px;
      opacity: 0;
      transition: opacity 0.3s;
    }

    .tooltip:hover {
      /*font-weight: bold;*/
      color: var(--light);
      background-color: var(--dark);
    }
