    :root {
      --light: #cfe0e8;
      --medium: #87bdd8;
      --dark: #3f7fbf;
      --accent: #ddeedd;
      --font-size: 14px;
      --sep-width: 6px;

      --elem: #DE6A16;
      --int: #009900;
      --high: #007FFF;

      --z1: mediumpurple;
      --z2: cornflowerblue;
      --z3: darkseagreen;
      --z4: darkgoldenrod;
      --z5: orange;
      --z6: hotpink;
      --z7: lightslategrey;

      --offlist: FireBrick;
      --misc: salmon;
      --lowlight: darkgray;
    }
