
    span[data-reps]::after {
      content: attr(data-reps);
      vertical-align: super;
      font-size: smaller;
    }
    mark {
      background: none;
      opacity: 0.4;
      cursor: not-allowed;
    }

    #left-top {
      flex-direction: column;
    }

    #cursorPosHere {
      background-color: yellow;
    }

    /* #t2_raw_text br {
      display: block;
      content: " ";
      margin-bottom: 1.5em;
    } */

    #t2_raw_text p, #t2_final_text p {
      /* margin: 0 1.5em 0 0; */
      margin-top: 1.5em;
      margin-bottom: 0;
      margin-right: 0.5em;
      margin-left: 0.5em;
      /* background-color: beige; */
    }