
    span[data-reps]::after {
      content: attr(data-reps);
      vertical-align: super;
      font-size: smaller;
    }
    mark {
      background: none;
      opacity: 0.7;
    }

    #left-top {
      flex-direction: column;
    }

    #cursorPosHere {
      background-color: yellow;
    }